// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap");
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat.define-typography-config(
  $font-family: "Raleway",
);

@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

/* You can add global styles to this file, and also import other style files */
$md-gabprimary: (
  50: #f4fef7,
  100: #e4fcec,
  200: #d3fadf,
  300: #c1f7d2,
  400: #b3f6c8,
  500: #a6f4be,
  600: #9ef3b8,
  700: #95f1af,
  800: #8befa7,
  900: #7bec99,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #effff3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-gabsecondary: (
  50: #e5e5e6,
  100: #bfbfc1,
  200: #949498,
  300: #69696e,
  400: #48484f,
  500: #282830,
  600: #24242b,
  700: #1e1e24,
  800: #18181e,
  900: #0f0f13,
  A100: #5959ff,
  A200: #2626ff,
  A400: #0000f2,
  A700: #0000d9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-gabaccent: (
  50: #f7f0e6,
  100: #ecdbbf,
  200: #dfc395,
  300: #d2aa6b,
  400: #c9984b,
  500: #bf862b,
  600: #b97e26,
  700: #b17320,
  800: #a9691a,
  900: #9b5610,
  A100: #ffe4cc,
  A200: #ffc899,
  A400: #ffad66,
  A700: #ff9f4d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$firestarter-primary: mat.define-palette($md-gabsecondary);
$firestarter-accent: mat.define-palette($md-gabaccent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$firestarter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$firestarter-theme: mat.define-dark-theme(
  (
    color: (
      primary: $firestarter-primary,
      accent: $firestarter-accent,
      warn: $firestarter-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($firestarter-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Raleway, sans-serif;
}
